/*
.site-info {
    display:none;
}

a#mobile-trigger {
	display:none;
}
*/
/* Search alignment */
nav#social-navigation-header {
    transform: translate(2px, 5px);
}

.inner-wrapper {
    margin: 0 0 -10px 0;
}

.site-content{
    padding: 0;
}

/* Add shadow to clearance widget */
.advance-image-grid-wrapper.advance-image-grid-col-4 {
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.6);
}

/* Change the price view in woo commerce */
.woocommerce div.product p.price, .woocommerce div.product span.price {
    transform: translate(81px, 517px);
    font-size: 174%;
    font-weight: bold;
}
/* Mobile Settings */
@media only screen and (max-width: 1023px) {
    .woocommerce div.product p.price, .woocommerce div.product span.price {
        transform: initial;
    }

/* Remove sidebar in mobile */
div#sidebar-primary {
    display: none;
}

}

div#respond {
    display: none;
}

h1.page-title {
    transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* Spacing for the SKU and Cate in Shop */
span.posted_in {
    
    padding-left: 50px;
}

/* additional padding for primary side bar*/
div#sidebar-primary {
    padding-top: 38Px;
}

/* Remove front background filter*/
.so-widget-sow-hero .sow-slider-base ul.sow-slider-images li.sow-slider-image::after {
   background: transparent;
}

/* Shadown box for front page */
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
	z-index: -1;
	}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
z-index: -1;
}

/* Menu style removal */
.main-navigation li a::before, .main-navigation li.current-menu-item > a::before, .main-navigation li.current_page_item > a::before {
    
    transition: initial;
    background: initial;
    
}


/*********FrontPage*************/
@media only screen and (max-width: 479px)
style.css?ver=2…nocache=1:4689
.so-widget-sow-hero .sow-slider-base ul.sow-slider-images li.sow-slider-image {
    height: 500px !important;
    width: 100%;
}

/* 500 padding for store widget
div#sidebar-primary {
    padding-top: 500Px;
}


.main-navigation li a::before,
.main-navigation li.current-menu-item > a::before,
.main-navigation li.current_page_item > a::before {
    
   transition: none;
    
}*/
